.Main {
    height: 100%;
    display: flex;
    font-size: 1.3vw;

    :global {
        .sidebar {
            padding: 1vw;
            padding-left: 0;
            width: 20vw;
            min-width: 180px;
            box-shadow: 0 1px 24px 0.5px rgba(176, 192, 237, 0.42);

            .list-item {
                height: 3vw;
                display: flex;
                align-items: center;
                margin-right: 4vw;
                padding: 1vw 0;
                margin-left: 1vw;
                cursor: pointer;

                &:hover {
                    margin-left: 0;
                    padding-left: 1vw;
                    background: #ddd;
                    border-top-right-radius: 1.5vw;
                    border-bottom-right-radius: 1.5vw;
                }
            }

            .name {
                margin-left: 1vw;
            }

            .logo {
                margin-left: 1vw;
                cursor: pointer;
                font-size: 2.4vw;
                font-weight: bold;
                margin-bottom: 2vw;
            }

            .action {
                margin: 2vw 0;
                margin-left: 1vw;
                margin-right: 4vw;
                cursor: pointer;
                display: flex;
                flex: 1;
                align-items: center;
                padding: 0 2vw;
                height: 4vw;
                border-radius: 2vw;
                box-shadow: 0 1px 24px 0.5px rgba(176, 192, 237, 0.42);

                i {
                    margin-left: auto;
                }

                &:hover {
                    margin-left: 0;
                    padding-left: 3vw;
                    background: #ddd;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }

            .add-payout {}

            .add-payment {}

            .add-service {}

            .logout {}
        }

        .body {

            flex: 1;
            height: 100%;
            .directory{
                padding: 2vw;
                font-size: 2vw;
            }
            .container{
                flex: 1;
                overflow: auto;
            }
            .scroll-wrapper {
                padding: 2vw;
            }

            .header {
                margin-left: 2vw;
                margin-bottom: 2vw;
            }

            .file-wrapper {
                display: flex;
                flex-wrap: wrap;

                .folder{
                    width: 20%;
                    margin-left: 2vw;
                    margin-bottom: 2vw;
                    height: 6vw;
                    box-shadow: 0 1px 24px 0.5px rgba(176, 192, 237, 0.42);
                    display: flex;
                    align-items: center;
                    padding: 1vw;
                    border-radius: 1vw;
                    transition: all ease .3s;
                    cursor: pointer;
                    .info{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;       
                        justify-content: space-between;

                    }
                    &.dropbox {
                        .name{
                            color: #0070e0;
                        }
                        &:hover{
                            border: 2px solid #0070e0;
                        }
                    }

                    &.google {
                        .name{
                            color: #0F9D58;
                        }
                        &:hover{
                            border: 2px solid #0F9D58;
                        }
                    }
                }


                .file {

                    .preview {
                        height: 70%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &.dropbox {
                            background: #0070e0;
                        }

                        &.google {
                            background: #0F9D58;
                        }

                        i {
                            color: white;
                            font-size: 5vw;
                        }
                    }

                    .info {
                        position: relative;
                        padding: 1vw;
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .name{
                            white-space: nowrap; 
                            width: 80%; 
                            overflow: hidden;
                            text-overflow: ellipsis; 
                        }
                        .dots {
                            position: absolute;
                            width: 20px;
                            top: 40%;
                            right: 0;
                            cursor: pointer;
                        }
                    }

                    width: 20%;
                    margin-left: 2vw;
                    margin-bottom: 2vw;
                    height: 20vw;
                    box-shadow: 0 1px 24px 0.5px rgba(176, 192, 237, 0.42);
                }
            }


        }
    }
}